@import "tailwindcss";

@font-face {
  font-family: "Helvetica Neue";
  src: url(/public/fonts/HelveticaNeue-Medium.otf) format("opentype");
}
@font-face {
  font-family: "fab";
  src: url();
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", sans-serif;
}
